/* universal styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* global variable definitions */
:root {
    --primary-color: #e5e9ee;
    --secondary-color: #19193b;
    --tertiary-color: #b3c3d3;
    --quaternary-color: #2b3457;
    --font-primary: Georgia, 'Times New Roman', Times, Serif;
    --font-secondary: Verdana, Tahoma, sans-serif;    
}

/* link styling */
a {
    text-decoration: none;
    color: var(--secondary-color);
}

/* header styling */
header {
    padding: 25px 25px 10px 0px;
    background: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    border-bottom: 4px solid var(--quaternary-color);
    z-index: 999;
    font-weight: bold;
}

header h1 {
    color: var(--secondary-color);
    background: rgb(222, 228, 233);
    font-size: 35px;
    padding: 10px 40px;
    font-family: var(--font-primary);
    border-radius: 0 20px 20px 0;
    font-weight: bold;
    text-shadow: none;
    text-decoration: underline double;
}

header nav {
    margin: 15px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-right: 0px;
}

header nav ul li {
    margin: 0 5px;
    padding: 10px 15px;
    font-size: 1.8vw;
}

header nav ul li a {
    font-size: 15px;
    padding: 5px 15px;
    font-family: var(--font-secondary);
    border-bottom: 2px solid var(--primary-color);
    border-radius: 15px; 
    background-color: var(--primary-color);
    text-decoration: none;
    font-weight: bolder;
    text-shadow: none;
    text-decoration: underline;
}

header nav ul li a:hover {
    background: var(--primary-color);
    background-color: rgb(226, 223, 214);
    border-radius: 15px;
    transition: 0.5s ease-in;
    transition: 0.5s ease-out; 
}

/* hero styling */
.hero {
    background-image: url(../images/background.png);
    height: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    border-bottom: 4px solid var(--quaternary-color);
}

.hero h2 {
    font-family: var(--font-primary);
    background: rgb(118, 149, 180);
    color: black;
    font-size: 15px;
    padding: 5px 50px;
    margin-bottom: 20px;
    border-radius: 20px 0 0 20px;
    font-style: italic;
}

/* main section styling */
main {
    background-image: url(../images/background2.png);
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
}

.container-title {
    width: 25%;
    font-size: 25px;
    font-weight: bold;
    font-family: var(--font-primary);
    border-right: solid black 4px;
    border-radius: 15px;
    text-align: right; 
    padding-right: 20px;
    margin-right: 10px;
    text-shadow: 0 0 2px rgba(172, 171, 169, 0.5);
}

.container-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container-content p {
    width: 70%;
    margin-left: 10px;
    font-size: 17px;
    line-height: 1.8;
    font-family: var(--font-primary);
    background: var(--primary-color);
    color: var(--secondary-color);
    padding: 10px 50px 5px 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: justify;
    font-weight: 500;
}

/* about me styling */
.about-picture {
    background-image: url(../images/profilephoto.JPG);
    background-size: cover;
    background-position: center;
    height: 250px;
    width: 250px;
    border-radius: 10px;
}

/* projects styling */
.grid-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.grid-layout {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(3, 175px);
    grid-gap: 10px;
    grid-auto-flow: dense;
}

.project-1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.project-image {
    border: 4px solid var(--primary-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: var(--tertiary-color);
}

.snapshot {
    height: 100%;
    width: 100%;
    opacity: 0.5;
    transition: 0.5s;
}

.snapshot:hover {
    opacity: 1;
    border-radius: 30px;
    text-shadow: none;
    box-shadow: -5px -5px rgb(226, 223, 214);
    transition: 1s;
}

.description {
    position: absolute;
    width: 100px;
    padding: 10px 15px;
    margin-bottom: 20px;
    background: var(--primary-color);
    border-radius: 0 15px 15px 0;
    text-align: left;
    color: var(--secondary-color);
}

.description h3 {
    font-size: 12px;
    font-family: var(--font-primary);
}

.description p {
    font-size: 10px;
    font-family: var(--font-secondary);
}

/* contact me styling */
.contact {
    align-content: center;
    font-family: var(--font-primary);
    font-weight: 25px;
}

.contact a {
    padding: 10px;
    border-left: 2px solid var(--primary-color);
    border-right: 2px solid var(-primary-color);
    border-radius: 15px;
    color: var(--quaternary-color);
    text-decoration: underline;
    background-color: none;
    font-size: medium;
}

.contact a:hover {
    background: var(--primary-color);
    border-radius: 20px;
    text-shadow: none;
    transition: 1s ease-in;
    transition: 1s ease-out;
}

/* footer styling */
footer {
    height: 60px;
    border-top: 4px solid var(--quaternary-color);
    border-bottom: 4px solid var(--quaternary-color);
    background: var(--tertiary-color);
    text-align: center;
}

footer div {
    color: var(--secondary-color);
    font-family: var(--font-secondary);
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* additional contact form */
.contact-form input, .contact-form textarea {
    border: 1px solid var(--secondary-color);
    display: block;
    padding: 7px 15px;
    font-size: 10px;
    color: var(--secondary-color);
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 15px;
    background-color: lightgray;
    font-style: var(--font-secondary);
    border-top: 1px solid var(--quaternary-color);
    border-bottom: 1px solid var(--quaternary-color);
}

.contact-form input, .contact-form textarea:focus {
    background-color: var(--primary-color);
}

.contact-form button {
    width: 10%;
    border: none;
    background: var(--quaternary-color);
    color: var(--primary-color);
    text-align: center;
    padding: 10px 0;
    font-size: 10 var(--secondary-color);
    border-radius: 15px;
    text-decoration: underline;
}

.contact-form button:hover {
    color: var(--quaternary-color);
    background: var(--teritary-color);
    cursor: pointer;
}

.contact-form h3 {
    font-style: bold;
    font-size: 20px;
}

/* media queries */
@media screen and (max-width: 1292px) {
    .container-content {
        display: inline;
    }

    .container-content p {
        width: 100%;
    }

    .about-picture {
        float: left;
        margin-right: 15px;
    }

    .contact {
        display: flex;
    }
}

@media screen and (max-width: 1028px) {
    header {
        padding-bottom: 0;
        position: relative;
        justify-content: center;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    .grid-layout {
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: repeat(4, 100px);
    }

    .snapshot {
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {
    main {
        padding: 0 15px;
    }

    .container {
        display: inline;
    }

    .container-title {
        width: 100%;
        text-align: center;
        border-right: none;
        border-bottom: solid black 4px;
        margin: 20px 0;
        padding: 0;
        padding-bottom: 10px;
    }

    .contact {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 575px) {
    header nav ul {
        justify-content: space-around;
    }

    header nav ul li a {
        margin-top: 10px;
    }

    .about-picture {
        width: 50%;
        position: sticky;
        transform: translate(-50%, -50%);
        margin-left: 50%;
        margin-top: 40%;
        margin-bottom: -20%;
    }

    .contact-form {
        order: 3;
    }
}