/* universal styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* global variable definitions */
:root {
    --primary-colour: #8597d1;
    --secondary-colour: #19193b;
    --tertiary-color: #a9cada;
    --quaternary-color: #0e4246;
    --font-primary: Georgia, 'Times New Roman', Times, Serif;
    --font-secondary: Verdana, Tahoma, sans-serif;    
}

/* link styling */
a {
    text-decoration: none;
    color: var(--secondary-color);
}

/* header styling */
header {
    padding: 35px 35px 20px 0px;
    background: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    border-bottom: 4px solid var(--quaternary-color);
    z-index: 999;
}

header h1 {
    color: var(--secondary-colour);
    background: var(--primary-colour);
    font-size: 40px;
    padding: 5px 50px;
    font-family: var(--font-primary);
    border-radius: 0 25px 25px 0;
    )
}

header nav {
    margin: 15px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-right: 0px;
}

header nav ul li {
    margin: 0 5px;
    padding: 10px 15px;
    font-size: 1.8vw;
}

header nav ul li a {
    font-size: 20px;
    padding: 5px 15px;
    font-family: var(--font-secondary);
    border-bottom: 2px solid var(--primary-colour);
    border-radius: 15px; 
}

header nav ul li a:hover {
    background: var(--primary-colour);
    border-radius: 15px;
    transition: 0.5s; 
}

/* hero styling */
.hero {
    background-image: url(../images/background.png);
    height: 250px;
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-bottom: 4px solid var(--quaternary-color);
}

.hero h2 {
    font-family: var(--font-primary);
    background: var(--primary-colour);
    color: var(--secondary-colour);
    font-size: 20px;
    padding: 5px 50px;
    margin-bottom: 20px;
    border-radius: 20px 0 0 20px;
}

/* main section styling */
main {
    background-image: url(../images/background2.png);
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
}

.container-title {
    width: 25%;
    font-size: 48px;
    font-weight: bold;
    font-family: var(--font-primary);
    border-right: solid black 4px;
    border-radius: 15px;
    text-align: right; 
    padding-right: 20px;
    margin-right: 10px;
}

.container-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.content-content p {
    width: 70%;
    margin-left: 10px;
    font-size: 18px;
    line-height: 1.5;
    font-family: var(--font-secondary)
}